@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__like-button/card__like-button.css');
@import url('./__like-button/_is-active/card__like-button_is-active.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__title/card__title.css');

.card {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
}

.card__like-box {
  width: 22px;
  height: 35px;
}

.card__like-counter {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
